<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Staff Form</title>
</head>
<body>
    <form class="container mt-4">
  <h4>Add Staff</h4>

  <input class="form-control mb-2" placeholder="Name">
  <input class="form-control mb-2" placeholder="Email">
  <input class="form-control mb-2" placeholder="Department">
  <input class="form-control mb-2" placeholder="Salary">
  <input class="form-control mb-2" placeholder="Experience">
  <input type = "date" class="form-control mb-2" placeholder="Join Date">
  <!-- <input type="date" id="join" name="join"> -->

  <button class="btn btn-success">Save</button>
</form>

</body>
</html>